.baniere{
	background-image: url('../../images/back.jpg');
	color: white;
	padding: 150px;
}


p{
	font-family: Roboto;
	font-size: 18px;
	text-align: ;
}

h1 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 40px;


}