.button {
	background-color: #632626;
	padding: 10px 20px;
	border-radius:4px ;
	color: white; 
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.boutton {
	background-color: #632626;
	padding: 15px 20px;
	border-radius:4px ;
	color: white; 
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.boutton:hover {
	background-color: black;
	color: white ;
}

}

